body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #373644;
  }
  
  .navbar {
      background-color: #e9d902;
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    .navbar-brand {
      color: #000000;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      margin-right: auto;
    }
    
    .navbar-link {
      color: #000000;
      text-decoration: none;
      margin-left: 10px;
      transition: 0.3s;
      font-weight: bold;
    }
  
    .navbar-link:hover{
      color: #000000;
      background-color: #ffffff;
      transition: 0.3s;
    }
  
    .main-img{
      height: 500px;
      width: 1000px;
      align-items: center;
      align-self: center;
    }
  
  h2{
      color: #ffffff;
  
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 40px;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #e9d902;
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #ffffff;
  }
  
  .image-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .footer{
    background-color: #e9d902;
    padding: 5px;
    text-align: center;
    font-size: 14px;
  }
  
  .foot{
      color: #000000;
  }